# Pandas Dataframes

## Agenda

1. About Dataframes   

2. Create Dataframes
    
3. View Dataframes

4. Compare Dataframes

5. Summarize Dataframes   

6. Attributes of Dataframes

7. Work with the Data in Dataframes
    
8. Circling back to 'About Dataframes': Series vs. Dataframes

## Lesson Goals

Upon completion of this lesson and exercises, you should be able to:

- Describe what a dataframe is and how it differs from a series. 

- Identify when you are using a pandas method or a pandas function. 

- Create a dataframe from a dictionary. 

- Create a dataframe from a list of lists or an n-dimensional array. 

- Identify an object type (`type`).

- 'Peek' at the contents of a dataframe (`print`, `df.head`, `df.tail`, `df.sample`)

- Compare 2 dataframes using numpy's `.all` method. 

- Summarize information contained in a dataframe (`df.info`, `df.describe`). 

- Access attributes (datatypes, number of rows & columns, row labels, column names) of a dataframe (`df.dtypes`, `df.shape`, `df.index`, `df.columns`)

- Subset a dataframe by selecting or dropping columns

- Understand the difference between the single and double bracket. 

- Subset a dataframe by filtering rows using a conditional. 

- Filter rows and subset columns in one step. 

- Rename columns

- Create a new column using an existing column. 

- Sort a dataframe by one or more columns. 

- Chain dataframe methods together, understand when it should work, & troubleshoot when it doesn't.

## About Dataframes

- tabular  
- 2-dimensional   
- provide a number of facilities for manipulating and transforming the data   

**Pandas Help: Functions & Methods**

You will use the pandas documentation often. pandas.pydata.org/pandas-docs/stable/reference

Documentation on Pandas Funtions can be found [here](https://pandas.pydata.org/pandas-docs/stable/reference/general_functions.html). 

Documentation on Pandas DataFrame Methods can be found [here](https://pandas.pydata.org/pandas-docs/stable/reference/frame.html). 

Documentation on Pandas Series Methods can be found [here](https://pandas.pydata.org/pandas-docs/stable/reference/series.html). 

You may be asking, "What's the difference between a method and a function?"


Boyini (2019) describes a function as "a block of code to carry out a specific task, will contain its own scope and is called by name. All functions may contain zero(no) arguments or more than one arguments. On exit, a function can or can not return one or more values." He then goes on to describe a method as "a function which belongs to an object." Methods are *called on* objects, so Pandas DataFrame Methods will be called on dataframe objects, and Pandas Series Methods will be called on series objects. That means that when calling a method, you precede it with the name of your dataframe or series, such as `my_df.info()` or `my_series.info()`. A Pandas Function will begin with `pd`, such as `pd.concat()`.

In [20]:
import pandas as pd

## Create Dataframes

1. We can pass a dictionary to create a dataframe, where the keys correspond to the names of the columns, and the values associated with those keys will make up the data.  

2. We can also pass lists or arrays to create a dataframe, where each list or array represents a row in the dataframe.   

3. We can copy an existing dataframe into a new dataframe

4. We can also create dataframes by reading data from an existing structured data set, such as a csv, a sql table, or an excel file. 

For this lesson, we will create a dataframe using the existing standings for NBA Western Conference using the first 3 methods above.


| Team| W  | L |
| ----| -- | --|
| LAC | 11 | 4 | 
| LAL | 11 | 4 | 
| UTA | 10 | 4 | 
| PHX |  8 | 5 | 
| GSW |  8 | 6 | 
| POR |  8 | 6 | 
| MEM |  7 | 6 | 
| SAS |  8 | 7 | 
| DAL |  7 | 7 | 
| DEN |  7 | 7 | 
| OKC |  6 | 7 | 
| NOR |  5 | 8 | 
| SAC |  5 | 10| 
| HOU |  4 | 9 | 
| MIN |  3 | 10|

**Method 1**  

Pass a dictionary where keys => column names, values => column values. 

`df = pd.DataFrame({'col1_name': [values], 'col2_name': [values], 'col3_name': [values]})`

In [25]:
Team = ['LAC', 'LAL', 'UTA', 'PHX', 'GSW', 'POR', 'MEM', 'SAS', 'DAL', 'DEN', 'OKC', 'NOR', 'SAC', 'HOU', 'MIN']
W = [11, 11, 10, 8, 8, 8, 7, 8, 7, 7, 6, 5, 5,  4,  3]
L = [4,  4,   4, 5, 6, 6, 6, 7, 7, 7, 7, 8, 10, 9, 10]

**Method 2**. 

Pass a list of lists where each nested list is a row in the dataframe. 

`df = pd.DataFrame([row1, row2, row3, row4, ...], columns=[col1_name, col2_name, col3_name])`

In [26]:
# each list represents the team vector, or a row. 

lac = ['LAC', 11, 4]
lal = ['LAL', 11, 4]
uta = ['UTA', 10, 4]
phx = ['PHX', 8,  5] 
gsw = ['GSW', 8,  6] 
por = ['POR', 8,  6] 
mem = ['MEM', 7, 6]
sas = ['SAS', 8, 7]
dal = ['DAL', 7, 7]
den = ['DEN', 7, 7] 
okc = ['OKC', 6, 7]
nor = ['NOR', 5, 8]
sac = ['SAC', 5, 10]
hou = ['HOU', 4, 9]
minn = ['MIN', 3, 10]

**Method 3**

Copy a dataframe from an existing dataframe. 

`new_df = existing_df`

### Object Types

Guesses for the type of objects we just created?

`type(df)`

### Naming Conventions for Dataframes

It is common dataframes to contain `df` in their variable names, as we have here with `nba_df`. In many examples, you may see dataframes simply with the name `df`. In practice, especially if you are working with multiple dataframes, it is good to have a name that will describe what your dataframe contains or how it differs from the other dataframes in your environment, i.e. other dataframes you have created in your notebook or current python session or kernel. For example, when I created the first two dataframes, which are exactly the same, but my purpose is to demonstrate the different ways of creating them, I name them to identify that, albeit ridiculously long names ;). (We will compare them later to prove they are identical, btw).

## View Dataframes

What's in these dataframes we just created? 

1. `nba_df` (without `print()`) gives a nice pretty display
2. `nba_df` (without `print()`) will not work outside of jupyter or ipython.   
3. `print(nba_df)` does not have an `Out[#]`, while `nba_df` does.    
4. `nba_df` (without `print()`) will not return anything if there is a statement following it in the same cell that displays something.

We can also take a peek at the data in the dataframe by sampling: the first 5 rows, last 5 rows, a random sample, or anything in between. 

- `df.head()`: first n rows (default n = 5)  
- `df.tail()`: last n rows (default n = 5)  
- `df.sample(n, random_state=int)`: sample n rows
- `df.sample(frac, random_state=int)`: sample frac (proportion) of rows

## Compare Dataframes

Are nba_df_from_dict_as_cols and nba_df_from_lists_as_rows 
equivalent dataframes? Don't take my word for it. 

remember from numpy... `(my_array < 0).all()`?

`(df1 == df2).all()`

## Summarize Dataframes

- `df.info()`:  See total number of rows, column names, number of non-null values for each column, datatype of each column, size of the dataframe (memory usage) 

- `df.describe()`: Summary statistics of all the columns with numeric datatypes.

In [27]:
# get the object type, index (row) range, column names, number of non-null values, datatypes, and size.

In [29]:
# get summary stats of the numeric columns

## Dataframe Attributes

- `df.dtypes`: datatype of each column
- `df.shape`: tuple of number of rows & columns in the dataframe
- `df.index`: the labels for each row (usually autogenerated int)
- `df.columns`: you can also assign new values to this attribute. 

You will notice that when calling these attributes of dataframes, they are not followed by `()`. When you forget, you will just get a nice error to remind you :)

In [30]:
# get the datatypes of each column

In [31]:
# what type of object is returned when we call dtypes?

In [32]:
# see rows and columns, or the shape, of the df

In [33]:
# what type of object does 'shape' return?

In [34]:
# how can I get the number of rows?

In [35]:
# what are the row labels, or index values, of of my dataframe?

In [36]:
# What type of object does .index return?

In [37]:
# what are the column names of my dataframe?

In [38]:
# what type of object is returned?

What do you notice? 

Column names are also an index, like rows. Axis 0 = Rows, Axis 1 = Columns

In [39]:
# rename the columns using the .columns attribute and the .upper and .lower methods.

## Subset/Filter Dataframes

### Columns

Return a dataframe

- `df[[col1, col2]]`  
- `df[[col1]]`  
- `mycols = [col1, col2]` -> `df[mycols]`  

Return a series
- `df[col1]`  
- `df.col1`  


A dataframe will have a column index while series will not. A series will instead have a name for the series that was the original column name you selected.

In [40]:
# return a single column dataframe

In [41]:
# return a series using single bracket

In [42]:
# return a series using '.': df.colname

### Rows

We can subset a dataframe by filtering rows using a conditional. 

For example, `df[df.col1 < x]` will return all columns and all rows where col1 value is less than x.

### Subset Columns and Filter Rows

- `df[df.col1 < x].col2`: column 2 and rows where col1 value is less than x. What kind of object is returned?     
- `df[df.col1 < x][[col1, col2]]`: columns 1 & 2 and rows where col1 value is less than x. What kind of object is returned?

## Drop, Rename, Add Columns

**Drop**

`df.drop(colums=[])`

In the drop and rename methods (and many others in pandas), the original dataframe is not changed, but instead a new dataframe is produced. However, you can use the `inplace` argument to change the original dataframe.

In [49]:
# drop columns

In [50]:
# using 'inplace'

**Rename**

`df.columns = [col1_new, col2_new, col3_new]`

In [52]:
# rename columns using .columns

Benefit of the rename method is that you don't have to list all column names, only ones you are renaming. 

`df.rename(columns={'original_name': 'new_name'})`

In [53]:
# rename columns using .rename with dictionary

`df['new_col'] = df['col1'] - df['col2']`

In [54]:
# create new columns: win_pct

`df.assign('new_col' = df['col1'] - df['col2'])`

In [55]:
# create new column using assign

## Sort Dataframes

- `df.sort_values(by='col1', ascending=False)`: default is True, so `ascending` argument is not necessary if sorting in ascending order.

In [17]:
# sort by win_pct using sort_values

In [56]:
# save sorted dataframe and select top/bottom

## Chain Dataframe Methods

As long as each method is returning a dataframe, these can be chained together to quickly and easily create the dataframe you need. 

Challenge: find the teams that would be in playoffs today if it started right now. Find the top 8 teams by win_pct. 

1. using sort_values(): assign -> sort -> head

2. using nlargest(n, 'col_name', keep='all'): assign -> nlargest

3. by adding new column of rank using the sorted dataframe: assign -> sort -> reset_index -> assign(rank) -> head()

## Series vs. Dataframe

In [61]:
s_values = ['LAL', 'LAC', 'DEN', 'OKC']
s_name = 'team'
s_index = [0, 1, 2, 3]
s_dtype = 'str'

s_teams = pd.Series(data=s_values, 
                    index=s_index,  
                    dtype=s_dtype, 
                    name=s_name)

In [62]:
print("name: ", s_teams.name,  "\ncolumns: NA\nindex: ", s_teams.index, "\naxes: ", s_teams.axes, "\ndtypes: ", s_teams.dtypes, 
      "\nndim: ", s_teams.ndim, "\nsize: ", s_teams.size, "\nshape: ", s_teams.shape, "\nvalues: ", s_teams.values)

name:  team
columns: NA
index:  Int64Index([0, 1, 2, 3], dtype='int64')
axes:  [Int64Index([0, 1, 2, 3], dtype='int64')]
dtypes:  object
ndim:  1
size:  4
shape:  (4,)
values:  ['LAL' 'LAC' 'DEN' 'OKC']

In [63]:
s_values = [52, 48, 46, 44]
s_name = 'wins'
s_index = [0, 1, 2, 3]
s_dtype = 'int'

s_wins = pd.Series(data=s_values, 
                    index=s_index,  
                    dtype=s_dtype, 
                    name=s_name)

In [64]:
print("name: ", s_wins.name,  "\ncolumns: NA\nindex: ", s_wins.index, "\naxes: ", s_wins.axes, "\ndtypes: ", s_wins.dtypes, 
      "\nndim: ", s_wins.ndim, "\nsize: ", s_wins.size, "\nshape: ", s_wins.shape, "\nvalues: ", s_wins.values)

name:  wins
columns: NA
index:  Int64Index([0, 1, 2, 3], dtype='int64')
axes:  [Int64Index([0, 1, 2, 3], dtype='int64')]
dtypes:  int64
ndim:  1
size:  4
shape:  (4,)
values:  [52 48 46 44]

In [65]:
df = pd.DataFrame({'team': s_teams, 'wins': s_wins})

print("name: NA\ncolumns: ", df.columns, "\nindex: ", df.index, "\naxes: ", df.axes, 
      "\ndtypes: ", df.dtypes, "\nndim: ", df.ndim, "\nsize: ", df.size, 
      "\nshape: ", df.shape, "\nvalues: ", df.values)
# data=None, index=None, columns=None, dtype=None, copy=Fals

name: NA
columns:  Index(['team', 'wins'], dtype='object')
index:  Int64Index([0, 1, 2, 3], dtype='int64')
axes:  [Int64Index([0, 1, 2, 3], dtype='int64'), Index(['team', 'wins'], dtype='object')]
dtypes:  team    object
wins     int64
dtype: object
ndim:  2
size:  8
shape:  (4, 2)
values:  [['LAL' 52]
 ['LAC' 48]
 ['DEN' 46]
 ['OKC' 44]]

In [66]:
df['team']

df[['team']]

  team
0  LAL
1  LAC
2  DEN
3  OKC

**References**

Boyini, K. (2019, February 19). Difference between Method and Function in Python. Retrieved January 20, 2021, from https://www.tutorialspoint.com/difference-between-method-and-function-in-python#:~:text=Unlike a function, methods are,access that data within it.

**Time needed to deliver lesson:**